{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{%  block body %}
 <section class="stack_of_tech" id="stack_of_tech">
    <div class="container">
      <div class="row">
        <div class="col-12 text-uppercase">
          <h2>какие технологии я использую</h2>
          <hr class="col-4 hr">
        </div>

      </div>
      <div class="row aligne-center stack__items">
        <div class="col-lg-4 col-md-6 col-12 stack__item">
          <div class="stack__item__ico blue ">
            <i class="fab fa-html5"></i>
            <i class="fab fa-css3"></i>
          </div>
          <h3>HTML5 + CSS3</h3>
          <p>Качественная верстка с использованием современных инструментов</p>

        </div>
        <div class="col-lg-4 col-md-6 col-12 stack__item">
          <div class="stack__item__ico blue">
            <i class="fab fa-bootstrap"></i>
          </div>
          <h3>BOOTSTRAP</h3>
          <p>Адаптивная верстка как на чистом CSS, так и с использованием фреймворка bootstrap и других</p>

        </div>
        <div class="col-lg-4 col-md-6 col-12 stack__item">
          <div class="stack__item__ico blue">
            <i class="far fa-window-restore"></i>
          </div>
          <h3>КРОССБРАУЗЕРНОСТЬ</h3>
          <p>Страницы сайта одинаково отображаются в различных браузерах</p>

        </div>

        <div class="col-lg-4 col-md-6 col-12 stack__item">
          <div class="stack__item__ico blue">
           <i class="far fa-keyboard"></i>
          </div>
          <h3>ВАЛИДНОСТЬ</h3>
          <p>Соблюдение стандартов W3C,
          семантическая разметка кода</p>

        </div>
        <div class="col-lg-4 col-md-6 col-12 stack__item ">
          <div class="stack__item__ico blue">
           <i class="fas fa-wrench"></i>
          </div>
          <h3>ИНСТРУМЕНТЫ</h3>
          <p>Использование блочной и FLEXBOX разметки</p>

        </div>
        <div class="col-lg-4 col-md-6 col-12 stack__item">
          <div class="stack__item__ico blue">
           <i class="fas fa-laptop-code"></i>
          </div>
          <h3>ЧИСТЫЙ КОД</h3>
          <p>Комментированный код, понятный любому программисту</p>

        </div>
      </div>
    </div>
  </section>


{% endblock %}