{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{%  block body %}
  <div class="welcome_page" id="welcome_page">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <p>Самолыго Артём</p>
          <hr class="col-4 hr">
          <h1 class="text-uppercase">Профессиональная верстка сайтов</h1>
           <div class="col text-center">
          <a href="/resum" class="btn btn-primary ">Хочу сайт</a>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
